.dart_tool/
build/macos/
.flutter-plugins
.flutter-plugins-dependencies
build/cache.dill.track.dill
build/bbac6892e29d16edb725a802618862ea/_composite.stamp
build/bbac6892e29d16edb725a802618862ea/gen_dart_plugin_registrant.stamp
build/bbac6892e29d16edb725a802618862ea/gen_localizations.stamp
macos/Podfile.lock
macos/Runner/AppDelegate.swift
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
macos/Runner.xcworkspace/contents.xcworkspacedata
build/cache.dill.track.dill
macos/Runner/AppDelegate.swift
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
macos/Runner.xcworkspace/contents.xcworkspacedata
